table.avi {
  border-collapse: collapse;
  font-size: small;
  font-weight: normal;
  width: auto;
  margin: auto;

  > thead, > tbody {
    > tr > * {
      border: 1px solid;
      padding: 2px;
      text-align: center;
    }
  }
}

.avi-table {
  display: table;

  > * {
    display: table-row;

    > * {
      display: table-cell;
      padding: 2px;
    }
  }
}

ul.avi {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.avi-tip {
  border-bottom: 1px dotted;
}

.bold {
  font-weight: bold;
}

.toast-item-close {
  cursor: pointer;
}

.toast-item p {
  margin-right: 25px;
}