table.avi {
    border-collapse: collapse;
    font-size: small;
    font-weight: normal;
}

table.avi > * > tr > * {
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

.toast-item-close {
    cursor: pointer;
}

.toast-item p {
    margin-right: 25px;
}